.survey-header {
    margin-bottom: 0;
}
.survey-header h1 {
    font-size: 1.4em;
    margin: 0;
    text-align: center;
    
}
.survey-header h2 {
    font-size: 1em;
    margin: 0;
    text-align: center;
    color: rgb(180, 180, 180);
}
.session .session-info {
    margin-top: 15px;
    margin-bottom: 0;
}
.slot {
    background-color: rgb(221, 242, 255);
    border: 1px solid rgb(183, 122, 245);
    border-radius: 8px;
    margin: 15px 0px;
    padding: 5px;
}
.slot p {
    margin: 0;
}
.slot .session {
    margin-top: 15px;
}

.voting-results h1 {
    margin-top: 20px;
    margin-bottom: 5px;
}
.result-table .session {
    margin: 5px;
    padding: 10px;
    border: 1px solid sienna;
    border-radius: 5px;
    background-color: rgb(220, 197, 186);
}
.result-table .session h3 {
    font-size: 1.2em;
    margin: 0px;
}
.result-table .session p {
    font-size: 1em;
    margin: 0px;
}